<!-- Updated _.html -->
<template name="gaQuestions">
    <main id="ga-main">
        <div class="wrapper">
            <div class="intro-section" style="margin-top:20px;">
                <div class="row">
                    <div class="col m3 s12">
                        <img class="responsive-img" src="/images/galileo/galileo-flask.png" style="width:90%;" />
                    </div>
                    <div class="col s12">
                        <!-- Add input fields for two variables -->
                        <div class="input-field">
                            <input id="variable1" type="text" placeholder="Enter first variable">
                            <label for="variable1">Variable 1:</label>
                        </div>
                        
                        <div class="input-field">
                            <input id="variable2" type="text" placeholder="Enter second variable">
                            <label for="variable2">Variable 2:</label>
                        </div>
                        
                        <a href="#" id="seeViz" class="viz-link">Click to see viz</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>